* {
  /* border-top: 10px solid #1098ad; */
  margin: 0;
  padding: 0;
} /* Este selecciona cada elemento especifico de la pagina */

/* PAGE SECTIONS */
body {
  /* color: red; */
  color: #444;
  font-family: serif;
  border-top: 10px solid #1098ad;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px; /* Como se aplica dentro del elemento, se suma mas el borde y padding */
  /* height: 80px;  */
}

article {
  margin-bottom: 60px;
}

nav {
  font-size: 18px;
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
  width: 500px;
}

/* h1,
h2,
h3,
h4,
p,
li {
  font-family: serif; 
   color: #444444;
}
 */

/* SMALLER ELEMENTS */
h1,
h2,
h3 {
  color: #1098ad; /* Siempre que se nombres dos propiedades, se usara la ultima */
}

h1 {
  font-size: 26px; /* tamaño del texto */
  text-transform: uppercase; /* Transforma el texto en mayúscula, minúscula, etc */
  font-style: italic; /* estiliza el texto */
  color: #1098ad;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center; /* esta en el centro de su elemento padre */
}

p {
  font-size: 22px;
  line-height: 1.5; /* la altura de cada linea, es como un pequeño padding significa que toma el alto del fondo mas la mitad del mismo */
  margin-bottom: 15px;
  /* display: inline; */
}

ul,
ol {
  margin-left: 50px; /* Esto ya que se ocupa margen pa que se vean */
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
  /* display: inline; */
}

/* footer p {
  font-size: 16px;
} */

/* article header p {
  font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-authors {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none; /* para darles estilo de lista solo a los que tiene esta clase, simbólicamente siguen siendo lista */
}

/* body{
  background-color: blue;
} */

/* .first-li {
  font-weight: bold;
}
 */

li:first-child {
  font-weight: bold;
}
li:last-child {
  font-style: italic;
  margin-bottom: 0;
}

/* li:nth-child(3) {
  color: red;
} */

/* li:nth-child(odd){
  color: red;
} */
/* li:nth-child(even) {
  color: red;
} */

/* MissConception: this wont work! */
/* article p :first-child {
  color: red;
}
 */
/* styling links */
a {
  color: purple;
  font-weight: bold;
}
/* Se estilizara todos los anchor que tengan el atributo href */

/* LVHA */
a:link {
  color: #1098ad;
  text-decoration: none;
}
a:visited {
  /* color: #777; */
  color: #1098ad;
}
/* line, style, color */
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}
/* LVHA */

.post-img {
  width: 50%;
  height: auto;
  margin: 100px;
}

nav a:link {
  /* background-color: orangered; */
  /* como son en linea, no ocuparon espacio vertical */
  /* margin: 20px; */
  /* padding: 20px; */
  /* lo que se marca es el fill */

  /* display: block; */
  /* ocupan todo el espacio que pueden, con margenes verticales */
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

/* Resolving conflicts */
/* #copyright {
  color: red;
}
 */
.copyright {
  color: blue;
}

.text {
  color: yellow;
}

/* footer p {
  color: green !important;
} */

/* nav a:link, nav p{
  font-size: 18px;
} */

div p:first-child {
  padding-bottom: 20px;
}

div p:last-child {
  padding-top: 20px;
}
